<div class="govuk-footer pins-footer">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        {% if params.items | length %}
          <ul class="pins-footer-links govuk-footer__inline-list">
            {% for item in params.items %}
              {% if item.href and item.text %}
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
                    {{ item.text }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
        <span class="govuk-footer__licence-description">
          Site content: Copyright 2021 <a href="http://planninginspectorate.gov.uk/">The Planning Inspectorate</a>
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
</div>